altair
llama-index
transformers
pypdf
nltk
langchain
spacy
openai
streamlit
python-dotenv==1.0.0
sentencepiece==0.1.99
torch==2.0.1
requests
mutagen
python-docx
pandas
numpy
html-parser
regex
tiktoken
openai[embeddings]
langchain
sentence_transformers
tiktoken
pdfminer.six
openai
faiss-cpu
unstructured
htbuilder
PyMuPDF
unidecode
click
dateparser
expiringdict
elasticsearch
elasticsearch_dsl
luqum
unstructured[all-docs]
